<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>jwbook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>My First Servlet</description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>ch05.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalcServlet</display-name>
    <servlet-name>CalcServlet</servlet-name>
    <servlet-class>ch05.CalcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalcServlet</servlet-name>
    <url-pattern>/Calc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TextareaServlet</display-name>
    <servlet-name>TextareaServlet</servlet-name>
    <servlet-class>ch05.TextareaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TextareaServlet</servlet-name>
    <url-pattern>/TextareaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RadioServlet</display-name>
    <servlet-name>RadioServlet</servlet-name>
    <servlet-class>ch05.RadioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RadioServlet</servlet-name>
    <url-pattern>/RadioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckboxServlet</display-name>
    <servlet-name>CheckboxServlet</servlet-name>
    <servlet-class>ch05.CheckboxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckboxServlet</servlet-name>
    <url-pattern>/CheckboxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>ch06.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calcController</display-name>
    <servlet-name>calcController</servlet-name>
    <servlet-class>ch08.calcController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcController</servlet-name>
    <url-pattern>/calcController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalcController</display-name>
    <servlet-name>CalcController</servlet-name>
    <servlet-class>ch08.CalcController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalcController</servlet-name>
    <url-pattern>/CalcController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>My second servlet</description>
    <display-name>CalcControllerr</display-name>
    <servlet-name>CalcControllerr</servlet-name>
    <servlet-class>ch08.CalcController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalcControllerr</servlet-name>
    <url-pattern>/CalcControllerr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>urlController</display-name>
    <servlet-name>urlController</servlet-name>
    <servlet-class>ch08.urlController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>urlController</servlet-name>
    <url-pattern>/urlController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>ch08.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerServlet</display-name>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>ch08.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/ControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>ch09.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsController</display-name>
    <servlet-name>NewsController</servlet-name>
    <servlet-class>ch09.NewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsController</servlet-name>
    <url-pattern>/NewsController.nhn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SnsController</display-name>
    <servlet-name>SnsController</servlet-name>
    <servlet-class>ch09.SnsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SnsController</servlet-name>
    <url-pattern>/SnsController</url-pattern>
  </servlet-mapping>
</web-app>